.background{
    background-image: url("./../../../public/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.overlay{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); /* Black see-through */
    height: 40rem;
}