@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
.Header{
    display: flex;
    font-weight: 600;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
}
.Header_a--Name{
    color: white;
    font-size: xx-large;
    width: 20%;
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.Header_a--Info{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    width: 20%;
}
.info{
    cursor: pointer;
}